@import "./base.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PP Medium";
  src: url("../fonts/pp-neue-montreal-cufonfonts/ppneuemontreal-medium.otf");
}

@font-face {
  font-family: "PP Book";
  src: url("../fonts/pp-neue-montreal-cufonfonts/ppneuemontreal-book.otf");
}

@font-face {
  font-family: "Aeonik";
  src: url("../fonts/AeonikTRIAL-Regular.otf");
}

@font-face {
  font-family: "Aeonik Bold";
  src: url("../fonts/AeonikTRIAL-Bold.otf");
}

.image {
  object-fit: cover;
  width: 100%;
  height: auto;
}

body,
main {
  background-color: rgb(243 244 246);
}
