@import "./base.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PP Medium";
  src: url("../fonts/pp-neue-montreal-cufonfonts/ppneuemontreal-medium.otf");
}

@font-face {
  font-family: "PP Book";
  src: url("../fonts/pp-neue-montreal-cufonfonts/ppneuemontreal-book.otf");
}

@font-face {
  font-family: "PP Bold";
  src: url("../fonts/pp-neue-montreal-cufonfonts/ppneuemontreal-bold.otf");
}

@font-face {
  font-family: "Aeonik";
  src: url("../fonts/AeonikTRIAL-Regular.otf");
}

@font-face {
  font-family: "Aeonik Bold";
  src: url("../fonts/AeonikTRIAL-Bold.otf");
}

img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

body,
main {
  background-color: rgb(243 244 246);
  color: black;
}

h1 {
  font-family: "PP Book";
  font-size: 3rem;
}

h2 {
  font-family: "PP Medium";
  font-size: 1.8rem;
  padding-bottom: 1rem;
}

h3 {
  font-family: "PP Medium";
  font-size: 1rem;
  padding-bottom: 1rem;
}

h4 {
  font-family: "PP Bold";
  font-size: 1rem;
}

.bigText {
  font-family: "PP Book";
  font-size: 2.32rem;
}

p {
  font-family: "PP Book";
  font-size: 1.32rem;
}

.paddingSection {
  padding: 0 6vw;
}

hr {
  border: solid black 1.5px;
  margin-bottom: 2rem;
  width: 100%;
}

.flexCenter {
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
}
